.weather-box{
    display: flex;
    height:220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .city-input{
        margin-left: 5px;
    }
}

#map { height: 320px; }
 
